<%- include('frontend/navbar')%>
<%- include('frontend/header')%>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <% for(var i = 0; i < articles.length; i ++){ %>
                <div class="post-preview">
                    <a href="/article?_id=<%= articles[i]._id %>">
                        <h2 class="post-title"><%= articles[i].title %></h2>
                        <h3 class="post-subtitle"><%= !articles[i].subtitle && "This article have no subtitle."%></h3>
                    </a>
                    <p class="post-meta">Post by Fat-Bone on <%= articles[i].create_at %>.</p>
                </div>
            <%}%>
        </div>
    </div>
</div>

<%- include('footer')%>